@import "tailwindcss";
.app{
  background: rgb(227, 227, 225);
}

/* Fancy flip animation */
@keyframes flip {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(90deg);
      background-color: gray; /* Neutral color mid-flip */
    }
    100% {
      transform: rotateX(0);
    }
  }
  
  .cell.flip {
    animation: flip 0.45s ease-in-out;
    transform-style: preserve-3d;
  }